#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.div-nav{
  display: flex;
  flex-direction: column;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.hidden {
  display: none;
}

.rickmorty-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}


.rickmorty-card {
  width: 400px;
  height: 330px;
  margin: 20px 5px;
  display: block;
  border-radius: 10px;
  border: 8px solid black;
  overflow: hidden;

}

.character-name{
  color: #D2E054;
  font-size: 20px;
}


/* .rickmorty-card:hover {
  transform: scale(1.02); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
} */

.container-card{
  display: flex;
  height: 100%;
  overflow: hidden;
}

.rickmorty-card h3 {
  margin-bottom: 10px;
  color: rgb(203, 203, 203);
  font-size: 15px;

}

.ladoIzq, .ladoDer {
  width: 100%;
}

.ladoDer{
  overflow: hidden;
}

.ladoDer img {
  width: 100%;
  height: 300px;
  border-style: none;
  transition: 1s ease;
}

.ladoIzq {
  background: black;
  color: white;
}


.rickmorty-card img {
  max-width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out; 
}

.rickmorty-card img:hover{
  transform: scale(1.1);
}

.li-status, .li-species{
  list-style: none;
  color: rgb(203, 203, 203);
  margin-right: 35px;
}

.li-story{
  list-style: none;
  color: rgb(203, 203, 203);
  text-align:left;
  margin-left: 80px;
}

.random-story{
  text-align: justify;
  margin: 20px;
}

ul > li{
  text-align:center;
}


.logo-home{
  width: 50%;
}

.img-loading{
  width: 200px;
}

.h2-loading{
  color: #D2E054;
}

.div-fav-container{
  background: #d2e054a1;
  padding: 20px;
  border-radius: 8px;
}

a{
  padding: 20px;
  color: black;
  text-decoration: none;
}


@media screen and (min-width: 768px){

  .logo-home{
    width: 35%;
  }

  .li-story{
    margin-left: 100px;
    font-size: 18px;
  }

  .random-story{
    font-size: 18px;
  }

  .div-fav-container{
    width: 80%;
    margin: auto;
  }

  a{
    display: flex;
    flex-direction: row;
  }

  .div-nav{
    display: flex;
    flex-direction: row;
    text-align: center;
  }

}

@media screen and (min-width: 1024px){

  .logo-home{
    width: 30%;
  }

  .li-story{
    margin-left: 120px;
    font-size: 20px;
  }

  .random-story{
    font-size: 20px;
  }

  .div-fav-container{
    width: 60%;
    margin: auto;
  }

}