@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

:root {
  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 400;

}

a {
  font-weight: 600;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #D2E054;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(133,192,69);
  background: radial-gradient(circle, rgba(133,192,69,1) 0%, rgba(19,139,68,1) 34%);
}

.button-prev, .button-next, .button-history {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #D2E054;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 30%;
}

.button-prev, .button-next, .button-history {
	color: #138B44;
	cursor: pointer;
	border: 2px solid #D2E054;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.fav-button{
  color: #138B44;
	cursor: pointer;
	border: 2px solid #D2E054;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 700;
  font-family: inherit;
  background-color: #D2E054;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60%;
  margin: auto;
}

.button-next:hover {
	color: #D2E054;
	background-color: transparent;
	text-shadow: nfour;
}

.button-prev:hover{
  color: #D2E054;
	background-color: transparent;
	text-shadow: nfour;
}

.button-history:hover{
  color: #D2E054;
	background-color: transparent;
	text-shadow: nfour;
}

.button-prev, .button-next:hover:before {
	right: 0%;
	left: auto;
	/* width: 100%; */
}
.button-prev, .button-next:before {
	
	background: #D2E054;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.button-prev, .button-next:active{
  transform: scale(0.96);
}

@media screen and (min-width: 768px){

  .button-prev, .button-next{
    width: 30%;
  }

  .historia{
    display: flex;
  }
  
  .dcha-historia, .izq-historia{
    width: 50%;
  }

}

@media screen and (min-width: 1024px){

  .button-prev, .button-next{
    width: 20%;
  }

}




